RPC_URL='https://api.devent-beta.solana.com'
PROGRAM_ID=2FrLL3KDojR89jFEp2doriVtAjfXB3mN8tTxbK3VUQBX
ORBIS_MINT=GBGPmQ6Mxz8FBxFvQwfBTdJYejDUP9G8auZfDnTwPm9
LOCAL_MONGO_URI=mongodb://localhost:27017
LOCAL_DB_NAME=orbisv2production
MERKLE_TREE_MINT='H8gvHxoXjZA2ZWhxA3bXVQeeQrVDNgpVo7Wvrowx8fm9'
CLONE_PORT=3110
JAVA_BACKEND_URL=https://orbisv2-production.uc.r.appspot.com
CLONE_BASE_URL=https://your-node-name.orbis.network
API_SECRET="my-super-strong-secret-key123"